<ul class="list-group">
  {% for product,quantity in listProducts %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class='product'>{{product}}</div>
        <span class="badge badge-primary badge-pill">{{quantity}}</span>
    </li>
  {% endfor %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div id="total"><b>Total Price</b></div>
        <span class="badge badge-pill badge-primary">{{price}} €</span>
    </li>
</ul>
